<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.test.mapper.CouponMapper">
	<!-- 쿠폰 등록(admin) -->
	<insert id="insertCoupon" parameterType="com.itwillbs.test.vo.CouponVO">
        INSERT INTO coupon (member_idx, coupon_name, coupon_text, coupon_num, coupon_sale, coupon_start, coupon_end, coupon_use)
        VALUES (#{member_idx}, #{coupon_name}, #{coupon_text}, #{coupon_num}, #{coupon_sale}, #{coupon_start}, #{coupon_end}, #{coupon_use})
    </insert>
    
    <!-- 쿠폰 목록 조회(admin) -->
    <select id="getCouponList" resultType="com.itwillbs.test.vo.CouponVO">
        SELECT * FROM coupon
    </select>
    
        <!-- 만료된 쿠폰 목록 조회(admin) --> 
	<select id="getExpiredCoupons" resultType="com.itwillbs.test.vo.CouponVO">
	    SELECT * FROM coupon WHERE coupon_end &lt; NOW() AND coupon_use = 0
	</select>
    <!-- 쿠폰 사용 상태 업데이트(admin) -->
    <update id="updateCoupon" parameterType="com.itwillbs.test.vo.CouponVO">
        UPDATE coupon
        SET coupon_use = #{coupon_use}
        WHERE coupon_idx = #{coupon_idx}
    </update>
    
</mapper>
