<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.test.mapper.CouponMapper">
    <select id="getCouponsByNumAndUse" resultType="com.itwillbs.test.vo.CouponVO" >
    SELECT * FROM coupon
    WHERE coupon_num = #{couponNum}
    AND coupon_use = #{couponUse}    
    </select>
    
    <select id="getCouponsByUse" resultType="com.itwillbs.test.vo.CouponVO">
        SELECT * FROM coupon
        WHERE coupon_use = 1
    </select>
    
    <insert id="saveCoupon" parameterType="com.itwillbs.test.vo.CouponVO">
        INSERT INTO coupon (coupon_name, coupon_text, coupon_num, coupon_sale, coupon_start, coupon_end, coupon_use)
        VALUES (#{coupon_name}, #{coupon_text}, #{coupon_num}, #{coupon_sale}, #{coupon_start}, #{coupon_end}, false)
    </insert>
    
    <select id="getAllCoupons" resultType="com.itwillbs.test.vo.CouponVO">
        SELECT * FROM coupon
    </select>    
</mapper>
