<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.test.mapper.IdeaCommunityMapper">
    <insert id="insertIdea" parameterType="com.itwillbs.test.vo.IdeaCommunityVO">
        INSERT INTO idea (title, member_idx, description, likecount)
        VALUES (#{title}, #{member_idx}, #{description}, #{likecount})
    </insert>

    <select id="getAllCardData" resultType="com.itwillbs.test.vo.IdeaCommunityVO">
        SELECT * FROM idea;
    </select>

    <update id="updateIdea" parameterType="com.itwillbs.test.vo.IdeaCommunityVO">
        UPDATE idea
        SET likecount = #{likecount}
        WHERE idea_idx = #{idea_idx}
    </update>

    <select id="getIdeaById" resultType="com.itwillbs.test.vo.IdeaCommunityVO">
        SELECT * FROM idea
        WHERE idea_idx = #{ideaIdx}
    </select>
    
   <delete id="deleteIdea">
        DELETE FROM idea
        WHERE idea_idx = #{ideaIdx}
    </delete>
    
</mapper>
