<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.test.mapper.MakerMapper">
	
	<!-- 메이커 정보 조회하기 -->
	<select id="selectMakerInfo" resultType="com.itwillbs.test.vo.MakerVO">
		select *
			from maker
				where
					maker_idx = #{maker_idx}
	</select>
	
	<!-- 메이커 페이지 메이커 정보 수정 -->
	<update id="updateMaker">
		update maker
			set
				<if test="!maker_file4.equals('')">
					maker_file4 = #{maker_file4} ,      -- 메이커 사진
				</if>
				<if test="!maker_file5.equals('')">
					maker_file5 = #{maker_file5} ,      -- 메이커 로고
				</if>
				maker_name = #{maker_name} ,	  		-- 메이커 이름		
				maker_intro = #{maker_intro} ,	  		-- 메이커 소개		
				maker_email = #{maker_email} ,    		-- 메이커 이메일
				maker_tel = #{maker_tel} ,  	 		-- 메이커 전화번호
				maker_url = #{maker_url}		 		-- 메이커 홈페이지
			where
				maker_idx = #{maker_idx}	
	</update>
	
	<!-- 관리자 - 메이커 정보 수정 -->
	<update id="updateMakerByAdmin">
		update maker
			set
				<if test="!maker_file1.equals('')">
					maker_file1 = #{maker_file1} ,      			-- 개인신분증
				</if>
				<if test="!maker_file2.equals('')">
					maker_file2 = #{maker_file2} ,      			-- 개인사업자등록증
				</if>
				<if test="!maker_file3.equals('')">
					maker_file3 = #{maker_file3} ,      			-- 법인사업자등록증
				</if>
				<if test="!maker_file4.equals('')">
					maker_file4 = #{maker_file4} ,      			-- 메이커 사진
				</if>
				<if test="!maker_file5.equals('')">
					maker_file5 = #{maker_file5} ,      			-- 메이커 로고
				</if>
				individual_biz_num = #{individual_biz_num},			-- 개인사업자 등록번호
				individual_biz_name = #{individual_biz_name},		-- 개인사업자명
				corporate_biz_num = #{corporate_biz_num},			-- 법인사업자 등록번호
				corporate_biz_name = #{corporate_biz_name},			-- 법인사업자명
				maker_name = #{maker_name},	  						-- 메이커 이름		
				maker_intro = #{maker_intro},	  					-- 메이커 소개		
				maker_email = #{maker_email},    					-- 메이커 이메일
				maker_tel = #{maker_tel},  	 						-- 메이커 전화번호
				maker_url = #{maker_url}			    			-- 메이커 홈페이지
			where
				maker_idx = #{maker_idx}	
	</update>
	
	<!-- 메이커 페이지 수정하기 - 파일 실시간 삭제 -->
	<delete id="deleteMakerFile">
		update maker
		  set
		    <choose>
		      <when test="fileNumber == 1">
		        maker_file1 = ''
		      </when>
		      <when test="fileNumber == 2">
		        maker_file2 = ''
		      </when>
		      <when test="fileNumber == 3">
		        maker_file3 = ''
		      </when>
		      <when test="fileNumber == 4">
		        maker_file4 = ''
		      </when>
		      <when test="fileNumber == 5">
		        maker_file5 = ''
		      </when>
		    </choose>
		  where
		    maker_idx = #{maker_idx}
		    and (
		      (#{fileNumber} = 1 and maker_file1 != '')
		      or (#{fileNumber} = 2 and maker_file2 != '')
		      or (#{fileNumber} = 3 and maker_file3 != '')
		      or (#{fileNumber} = 4 and maker_file4 != '')
		      or (#{fileNumber} = 5 and maker_file5 != '')
		    )
	</delete>
	
	<!-- maker_idx 조회하기 -->
	<select id="selectMakerIdx">
		SELECT maker_idx
			FROM maker
			WHERE member_idx = (
			    SELECT member_idx
			    FROM members
			    WHERE member_id = #{sId}
			);
	</select>
	
	<!-- 공지사항 삭제하기 -->
	<delete id="deleteMakerBoard">
		delete
			from maker_board
		where
			maker_board_idx = #{maker_board_idx}
	</delete>
	
	<!-- 공지사항 조회하기 -->
	<select id="selectMakerBoardInfo">
		select *
			from maker_board
		where
			maker_board_idx = #{maker_board_idx}
	</select>
	
	<!-- 전체 메이커 조회 -->
	<select id="selectAllMakerList">
		select *
			from maker -- 동적 SQL문 작성 필요
		<!-- 검색타입이 널스트링이 아닐 때 -->
		<if test="!searchKeyword.equals('')">
		where
			<!-- 검색타입에 따른 where절 조건 대상 변경 -->
			<choose>
				<when test="searchType.equals('name')">
					maker_name like '%${searchKeyword}%'
				</when>
				<when test="searchType.equals('email')">
					maker_email like '%${searchKeyword}%'
				</when>					
			</choose>
		</if>
		order by
			maker_idx desc			
		limit
			#{startRow}
			, #{listLimit}
	</select>
	
	<!-- 전체 메이커 갯수 조회 -->
	<select id="selectAllMakerListCount">
		select count(*)
			from maker
		<if test="!searchKeyword.equals('')">
		where
			<choose>
				<when test="searchType.equals('name')">
					maker_name like '%${searchKeyword}%'
				</when>				
				<when test="searchType.equals('email')">
					maker_email like '%${searchKeyword}%'
				</when>				
			</choose>
		</if>
	</select>
	
	<!-- 개인사업자 등록 번호 조회 -->
	<select id="selectBizNumCheck" parameterType="string" resultType="com.itwillbs.test.vo.MakerVO">
		select *
			from maker
		where
			individual_biz_num = #{individual_biz_num}
	</select>
	
	<!-- 법인사업자 등록 번호 조회 -->
	<select id="selectBizNumCheck2" parameterType="string" resultType="com.itwillbs.test.vo.MakerVO">
		select *
			from maker
		where
			corporate_biz_num = #{corporate_biz_num}
	</select>
	
	<!-- 메이커인지 아닌지 파악  -->
	<select id="selectMakerCount">
		SELECT Count(maker_idx)
			FROM maker
			WHERE member_idx = (
			    SELECT member_idx
			    FROM members
			    WHERE member_id = #{sId}
			);
	</select>
</mapper>
