<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.test.mapper.ProjectMapper">
	
	<!-- 리워드 등록하기 -->
	<insert id="insertReward">
		insert
			into reward
				values(
					null
					, #{project_idx}
					, #{reward_price}
					, #{reward_category}
					, #{reward_name}
					, #{reward_quantity}
					, #{reward_option}
					, #{reward_detail}
					, #{delivery_status}
					, #{delivery_price}
					, #{delivery_date}
					, #{reward_info}
				)
	</insert>
	
	<!-- 메이커 등록하기 -->
	<insert id="insertMaker">
		insert
			into maker
				values(
					null
					, #{member_idx}
					, #{maker_file1}
					, #{individual_biz_num}
					, #{individual_biz_name}
					, #{maker_file2}
					, #{corporate_biz_num}
					, #{corporate_biz_name}
					, #{maker_file3}
					, #{maker_file4}
					, #{maker_file5}
					, #{maker_name}
					, #{maker_email}
					, #{maker_tel}
					, #{maker_url}
				)
	</insert>
	
	<!-- 리워드 갯수 조회하기 -->
	<select id="selectRewardCount" resultType="int">
		select count(*)
			from reward
				where
					project_idx = #{project_idx}
	</select>
	
	<!-- 리워드 리스트 조회하기 -->
	<select id="selectRewardList" resultType="com.itwillbs.test.vo.RewardVO">
		select *
			from reward
				where
					project_idx = #{project_idx}
	</select>
	
	<!-- 리워드 조회하기 -->
	<select id="selectRewardInfo">
		select *
			from reward
				where
					reward_idx = #{reward_idx}
	</select>
	
	<!-- 리워드 수정하기 -->
	<update id="updateReward">
		update reward
			set
				reward_price = #{reward_price}
				, reward_category = #{reward_category}
				, reward_name = #{reward_name}
				, reward_quantity = #{reward_quantity}
				, reward_option = #{reward_option}
				, reward_detail = #{reward_detail}
				, delivery_status = #{delivery_status}
				, delivery_price = #{delivery_price}
				, delivery_date = #{delivery_date}
				, reward_info = #{reward_info}
			where
				reward_idx = #{reward_idx}
	</update>
	
	
</mapper>
