@charset "UTF-8";

/*
리워드 선택 영역 반응
*/
.card:hover {
   box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
   border-color: green;
}

#scrollBar {
	overflow-y: auto;
    top: 0;
    left: 100%;
    padding: 10px;
    height: 900px;
    transition: all .2s;
    -ms-overflow-style: none;
    scrollbar-width: none;
}