@charset "UTF-8";

	/* 배경 그라데이션 스타일 */
	.gradient-custom {
	    background: #ff9300;
	    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
	}
	
	/* 카드 스타일 */
	.card {
	    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
	
	
	  .circle-image {
	    width: 100px;
	    height: 100px;
	    border-radius: 50%;
	    overflow: hidden;
	    margin: 0 auto; 
	  }
	
	  .circle-image img {
	    display: block; 
	    margin: 0 auto; 
	    margin-top: 15px;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    border-radius: 50%;
	  }
	  .custom-file-input {
	    background-color: #ffcc00;
	    color: white;
	    border: 2px solid #ffcc00;
	    border-radius: 5px;
	    padding: 10px 20px;
	    font-size: 16px;
	    cursor: pointer;
	    width: 211px;
	  }
		
	/* 프로필 제목 스타일 */
	.profile-heading {
	    text-align: center;
	    margin-top: 1rem;
	}
	
	/* 링크 컨테이너 스타일 */
	.link-container {
	    display: flex;
	    justify-content: center;
	    margin-top: 1rem;
	}
	
	.link-container a {
	    text-decoration: none;
	    color: black;
	    margin: 0 10px;
	}
	
	/* 텍스트 영역 스타일 */
	textarea {
	    width: 385px;
	    height: 80px;
	    resize: vertical;
	    overflow-y: hidden;
	    min-height: 100px;
	    max-height: 500px;
	    width: 200%;
	}
	
	/* 반응형 텍스트 영역 스타일 */
	@media (max-width: 768px) {
	    textarea {
	        height: 150px;
	    }
	}
	
	/* 버튼 위치*/
	.button-container {
		  display: flex;
		  justify-content: center;
		  gap: 20px;
		} 
	
	/* 섹션 컨텐츠 영역 스타일 */
	.section-content {
	    min-height: 80vh;
	}

	/* 푸터 스타일 */
	footer.footer {
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	}
