@charset "UTF-8";
    body {
        font-family: Varela Round;
        background:none;
    }

    a {
        text-decoration: none;
    }

    /* Card Styles */
    .card-sl {
    	width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card-image img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px 8px 0px 0;
    }

    .card-action {
        position: relative;
        float: right;
        margin-top: -25px;
        margin-right: 20px;
        z-index: 2;
        color: #E26D5C;
        background: #fff;
        border-radius: 100%;
        padding: 15px;
        font-size: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    }

    .card-action:hover {
        color: #fff;
        background: #E26D5C;
        -webkit-animation: pulse 1.5s infinite;
    }

    .card-heading {
        font-size: 18px;
        font-weight: bold;
        background: #fff;
        padding: 10px 15px;
    }

    .card-text {
        padding: 10px 15px;
        background: #fff;
        font-size: 14px;
        color: #636262;
    }

    .card-button {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        background-color: #1F487E;
        color: #fff;
        border-radius: 0 0 8px 8px;
    }

    .card-button:hover {
        text-decoration: none;
        background-color: #1D3461;
        color: #fff;

    }
    
     .card-button {
        background-color: #9BD668;
    }

	.card-text-percent {
    color: #9BD668;
    font-weight: bold;
    font-size: 150%;
    margin:15px; 
	}
	
	/*rankingList*/
	ul#rankingList a.ranking-item {
	    list-style-type: none; 
	    font-size: 120%; 
	    text-decoration: none; 
	    color: #000; 
	}
	
	ul#rankingList a.ranking-item:hover {
	    color: #9BD668; 
	}
	
	ul#rankingList a.ranking-item span.project-rank {
	    font-size: 120%;
	}

	@media (max-width: 767px) {
    .card-title {
        font-size: 20px; 
    	}
    .card-text {
        font-size: 16px;
    	}
	}
	
    @-webkit-keyframes pulse {
        0% {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }

        70% {
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
            box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
        }

        100% {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
            box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
        }
    }
    
  .project-table {
    width: 100%;
    font-size: 16px;
  }
  .project-table th,
  .project-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .project-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .project-name {
    color: #007bff;
  }
  .project-end-date {
    color: #999;
  }
  
 .highlight {
    color: #ff9300;
  }
  .card-body {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }