@charset "EUC-KR";

#msgStack{
	width: 280px;
	right: 10px;
	bottom: 10px;
	position: fixed;
	z-index: 9999;
}
.toast{
	cursor: pointer;
}
.badge{
	font-size: 10px;
   	height: 15px;
   	margin-left: -50px;
   	margin-bottom: 20px;
   	margin-left: -30px;	
}
/* 종 모양 아이콘 크기 설정 */
.nav-link svg {
	font-size: 1.7em; /* 원하는 크기로 조정하세요 */
	fill: white; /* 아이콘의 색상을 흰색으로 설정 */
}
.nav-link {
	color: white;
}