@charset "EUC-KR";
/* ==================== 기본 레이아웃 ==================== */
/* 하이퍼링크 밑줄 제거 */
a {
	text-decoration: none;
	color: black;
}
#loadingIndicator {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
header,
aside,
section,
footer {
	margin: 3px;
	text-align: center;
	font-size:30px;
}

header,
footer {
	background-color: black;
	color: white;
}

.containerCSS {
	display: flex;
	margin: 0 auto;
	max-width: 1360px;
}

#aisdeLeft {
	flex-grow: 0;
	width: 200px;
}

#section {
	flex-grow: 1;
}

#aisdeRight {
	flex-grow: 0;
	width: 320px;
}

#article {
	flex-grow: 1;
	max-height: 2000px;
}

/* ==================== 왼쪽 네비게이션바 ==================== */
#asideLeft {
	background-color: #f8f9fa;
	padding: 20px;
	border-right: 1px solid #ddd;
}

#asideLeftHeader {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

#navMenu {
	list-style: none;
	padding: 0;
}

#navMenu li {
	margin-bottom: 10px;
	list-style: none;
}

#navMenu li a {
	color: #333;
	font-size: 16px;
	text-decoration: none;
}

#navMenu li a:hover {
	color: #000;
	font-weight: bold;
}

.showSubMenu {
    display: block;
}

/* Font Awesome 아이콘 스타일 설정 */
.toggleTab i {
    margin-left: 5px;
}

/* 팝오버 */
.bi-question-circle:hover {
  fill: white;
  border-radius: 50%;
  background-color: #FF9300;
}

/* XXX님의 프로젝트 */
#projectManagement {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

/* 프로젝트 프로세스 */
.projectProcess img {
	margin-top: 30px;
    max-width: 60%;
    height: auto;
}

/* 프로젝트 관리 공통 영역 */
.projectArea {
	text-align: left;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.projectTitle {
	font-size: 35px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

.projectContent {
	font-size: 16px;
}

/* 정산 프로젝트 출력 시 이미지 */
.project-img {
	width: 100%; 
	height: 100px;
	object-fit: cover; /* 종횡비 유지 */
}

/* 정산 프로젝트 테이블 */
.table-center {
	margin: auto;
	width: 70%;
}

.table-center tr td {
	text-align: center;
	vertical-align: middle;
}

.table-center thead tr th {
	text-align: center;
	vertical-align: middle;
}

/* 발송·환불 타이틀 */
.shippingManagementTitle {
	font-size: 35px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	display: flex;
}

/* 폼 컨트롤 */
.form-content {
	font-size: 18px;
	margin-top: 30px;
}

.reward-info {
	text-align: left;
}

/* 관리자 피드백 전체 */
.admin-feedback {
	color: #333;
	font-size: 16px;
	text-decoration: none;
	position: relative; /* 관리자 피드백 스크롤 내릴 때 */
}

/* 관리자 피드백 스크롤 내릴 때 */
.admin-feedback.sticky {
	position: sticky;
	top: 50px; /* 필요한 위치로 조정 */
}

/* 관리자 피드백 */
.admin-title{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top:60px;
}

.admin-content {
	font-size: 15px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

/* 관리자 피드백 메시지 */
.alert {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

/* ==================== 차트 ==================== */
.chart-title {
	font-size: 20px;
	margin-top: 50px;
	color: black;
	text-transform: uppercase;
	text-align: left;
	border-radius: 5px;
}

.chart-table-title {
  	font-size: 15px;
  	text-align: center;
}

th, td {
  	width: 10%; /* 각 셀의 너비를 20%로 설정 */
}

.chart-table-content {
  	font-size: 40px;
}

.chart-date {
	font-size: 15px;
}

.chatgpt-content {
	font-size: 18px;
}

/* 네비게이션바 스타일 설정 */
#navMenu li a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #333;
}

/* 마우스 올리면 hover 효과 */
#navMenu li a:hover {
	background-color: #f1f1f1;
}

/* 네비게이션탭 누른 효과 */
#active-tab {
   background-color: #f1f1f1;
}

/* ==================== project_top ==================== */
#msgStack{
	width: 280px;
	right: 10px;
	bottom: 10px;
	position: fixed;
	z-index: 9999;
}

.toast{
	cursor: pointer;
}

/* 아이콘 스타일링 */
.bi-bell {
  width: 28px;
  height: 28px;
  fill: currentColor;
}

/* 배지 스타일링 */
#newNotificationCount {
	position: relative; 
	top: -10px; 
	right: 19px; 
	z-index: 100; 
	background-color: red; 
	color: white; 
	padding: 4px 8px; 
	border-radius: 50%; 
}

/* 종 모양 아이콘 크기 설정*/
.nav-link svg {
	font-size: 1.7em;
	fill: #ff9300; 
	position: relative; 
	display: inline-block;
}

/* ==================== maker_detail ==================== */
.follow-button {
	text-align: center;
}

.tab-buttons {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
 
.tab-buttons button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
}
 
.content-area {
	display: none;
	padding: 20px;
	border: none;
}
 
.content-area.active {
	display: block;
}
 
a.star-rating,
a.supporters {
	display: inline-flex;
	align-items: center;
	font-size: 13px;
	color: black; /* 글자 색상을 검정색으로 설정 */
	text-decoration: none; /* 하이퍼링크 텍스트의 밑줄 제거 */
}

a.star-rating svg,
a.supporters svg {
	margin-right: 5px; /* 아이콘과 텍스트 사이 간격 설정 */
}

/* 프로젝트 관리 */
/* 소제목 */
.subheading {
	font-size: 23px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
}

/* 발송·환불 소제목 */
.shippingSubheading {
	font-size: 23px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
}

/* 메이커정보 소제목 */
.subtitle {
	font-size:20px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
}

/* 소제목 아래 설명 */
.sideDescription {
	font-size: 14px;
	margin-top: 5px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* 구분선 */
.contour {
	margin-top: 20px;
}

/* 기본 요금제 카드 */
.card-container {
  margin: 0;
  padding: 0;
}

/* 카드 너비 */
.card {
  width: 100%;
}

/* 카드 내용 */
.card-detail {
  font-size: 13px;
}

/* 해시태그 */
.tr_hashTag_area {
  text-align: left;
}

.tag-item {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 25px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.del-btn {
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

/* 약관 */
.agree_box {
  border: 1px solid rgba(0, 0, 0, 0.284);
  border-radius: 5px;
}

.agree_article {
  margin-top: 15px;
  margin-left: -15px;
  font-size: 13px;
}

.agree_article li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.depth2 {
  font-weight: lighter;
  border: 1px solid rgba(0, 0, 0, 0.284);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

/* 발송·환불 관리 */
/* 반응형 테이블 */
.table-responsive {
    display: block;
    width: 100%;
    font-size: 12px;
    overflow-x: auto;
}

/* 테이블 안 th, td 영역 */
.tableTag {
  font-size: 12px;
  font-weight: bold;
  display: block;
}

/* 목록, 리스트 테이블 안 span 영역 */
.customSpan {
  font-size: 15px;
  font-weight: bold;
}

/* 테이블 부연 설명 */
.tableDescription {
  font-size: 12px;
}

/* 테이블 안 버튼 */
#tableButton {
  width: 60px;
  height: 30px;
  font-size: 13px;
}

/* 테이블 안 회원 상세정보 링크 */
.memberLink {
  font-size: 10px;
  display: block;
}

/* 모달 소제목 */
.modalTitle {
	font-size:19px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
}

.makerSubject {
	font-size: 23px;
	font-weight: bold;
}

/* 모달 부연 설명 */
#modalDescription {
	font-size:12px;
}

/* ==================== 미디어쿼리 ==================== */
/* tablet */
@media screen and (max-width: 1250px) {
  #aisdeLeft {
    display:none;
  }
  
  .form-control {
    width: 100%;
    max-width: 400px;
  }

}
/* mobile */
@media screen and (max-width: 900px) {
  #aisdeRight {
    display:none;
  }
  
  .form-control {
    width: 100%;
    max-width: 250px;
    overflow-x: hidden;
  }
  
  .projectProcess img {
	margin-top: 100px;
	width: 100%;
  }
  
  .table-responsive {
  	overflow-x: auto;
  }
}

